@use 'the-new-css-reset/css/reset';

@use '../scss/main';

#main-layout {
	height: 100vh;
	color: black;
	background-color: pink;

	header {
		background-color: white;
		border-bottom: solid 1px pink;
	}

	main {
		overflow: scroll;
		flex: 1 auto;
		background-color: white;
	}
}
